.filters {
  width: 250px;
  height: 400px;
  background-color: #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 20px auto;
  border-radius: 2px;
}

.filter-title {
  background-color: #272b2c;
  width: 250px;
  height: 30px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border-radius: 2px 2px 0 0;
}

.filter-title p {
  color: white;
  margin: 0 auto;
  font-weight: 400;
}

.range-slider {
  width: 200px;
  margin: auto 16px;
  text-align: center;
  position: relative;
}

.range-slider svg, .range-slider input[type=range] {
  position: absolute;
  left: 38px;
  bottom: 0;
}

input[type=range]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  top: 2px;
  margin-top: -7px;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 4px;
  background-color: #ffffff;
}

.posts {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main-layout .card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
  padding: 8px;
  width: 200px;
  height: 200px;
  border: 1px black solid;
  box-shadow: 2px 2px 5px #888787;
}