@import "./libs/_normalize.scss";
@import "variables";


body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 100vh;
  background-color: $charcoalGrey;
}

