@import "src/styles/variables";

.signupBlock {
  display: flex;
  justify-content: space-between;
  background-color: $white;
  padding: 1.4em;
  border-radius: 32px;


  .formBlock {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 500px;
    padding: 73px 80px 73px 45px;
    color: $darkSlateGrey;


    h1 {
      font-size: 3.5em;
    }

    p {
      line-height: 26px;
    }

    .bulletBlock {
      div {
        display: flex;
        align-items: center;
        margin-bottom: 14px;

        img {
          margin-right: 17px;
        }
      }
    }

    .emailForm {
      display: flex;
      flex-direction: column;

      .emailLabel {
        display: flex;
        -webkit-justify-content: space-between;
      }

      label {
        margin: 0 0 7px 0;
        font-weight: bold;
        font-size: 12px;
      }


      span {
        color: rgba(218, 3, 21, 0.6);
        font-size: 12px;
        font-weight: bold;
      }

      input {
        background: none;
        padding: 10px 20px;
        border: 1px solid black;
        border-radius: 8px;
        height: 55px;
        color: $darkSlateGrey;
        opacity: 50%;

        &:focus {
          opacity: 100%;
          outline: none;
        }

        &:hover {
          transition: 0.05s all;
          scale: 102%;
        }
      }

      .errorInput {
        background: rgba(255, 99, 71, 0.2);
        border: 1.5px solid #c20415;

        &:focus::placeholder {
          color: rgba(213, 0, 0, 0.6);
        }

        &::placeholder {
          color: rgb(213, 0, 0);
          font-size: 1.1em;
          opacity: 1;
        }
      }
    }

    button {
      border: none;
      background: $tomato;
      background: $darkSlateGrey;
      box-shadow: none;
      border-radius: 8px;
      height: 55px;
      font-size: 0.92em;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        transition: 0.05s all;
        scale: 102%;
        background: linear-gradient(90deg, rgb(248, 85, 128) 25%, rgb(255, 109, 96) 62%, rgb(255, 105, 60) 100%);
        box-shadow: 0 15px 30px rgba(248, 85, 49, 0.5);
      }
    }
  }

  .imgBlock {
    .mobileImg {
      display: none;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    width: 375px;
    height: 100%;
    padding: 0;
    border-radius: 0;
    .formBlock {
      padding: 0 10px;
      height: 75vh;
      width: 100%;
      scale: 0.9;

      h1 {
        font-size: 2.5em;
      }

      .bulletBlock, p {
        font-size: 1.1em;

        div {
          align-items: start;
        }
      }
    }
    .imgBlock {
      .img {
        display: none;
      }

      .mobileImg {
        display: inline-block;
      }
    }
  }
}
