/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/page.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_signupBlock__iFWRu {
  display: flex;
  justify-content: space-between;
  background-color: hsl(0, 0%, 100%);
  padding: 1.4em;
  border-radius: 32px;
}
.page_signupBlock__iFWRu .page_textBlock__wOxEU {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 500px;
  padding: 73px 80px 73px 45px;
  color: hsl(234, 29%, 20%);
}
.page_signupBlock__iFWRu .page_textBlock__wOxEU h1 {
  font-size: 3.5em;
}
.page_signupBlock__iFWRu .page_textBlock__wOxEU p {
  line-height: 26px;
}
.page_signupBlock__iFWRu .page_textBlock__wOxEU .page_bulletBlock__TfYmk div {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.page_signupBlock__iFWRu .page_textBlock__wOxEU .page_bulletBlock__TfYmk div img {
  margin-right: 17px;
}
.page_signupBlock__iFWRu .page_textBlock__wOxEU .page_emailForm__BDMUp {
  display: flex;
  flex-direction: column;
}
.page_signupBlock__iFWRu .page_textBlock__wOxEU .page_emailForm__BDMUp label {
  margin: 0 0 7px 0;
  font-weight: bold;
  font-size: 12px;
}
.page_signupBlock__iFWRu .page_textBlock__wOxEU .page_emailForm__BDMUp .page_emailLabel__KMk74 {
  display: flex;
  -webkit-justify-content: space-between;
}
.page_signupBlock__iFWRu .page_textBlock__wOxEU .page_emailForm__BDMUp span {
  color: rgba(218, 3, 21, 0.6);
  font-size: 12px;
  font-weight: bold;
}
.page_signupBlock__iFWRu .page_textBlock__wOxEU .page_emailForm__BDMUp input {
  background: none;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  height: 55px;
  color: hsl(234, 29%, 20%);
  opacity: 50%;
}
.page_signupBlock__iFWRu .page_textBlock__wOxEU .page_emailForm__BDMUp input:focus {
  opacity: 100%;
  outline: none;
}
.page_signupBlock__iFWRu .page_textBlock__wOxEU .page_emailForm__BDMUp input:hover {
  scale: 102%;
}
.page_signupBlock__iFWRu .page_textBlock__wOxEU .page_emailForm__BDMUp .page_errorInput__T3vmG {
  background: rgba(255, 99, 71, 0.2);
  border: 1.5px solid #c20415;
}
.page_signupBlock__iFWRu .page_textBlock__wOxEU .page_emailForm__BDMUp .page_errorInput__T3vmG::placeholder {
  color: #d50000;
  font-size: 1.1em;
  opacity: 1;
}
.page_signupBlock__iFWRu .page_textBlock__wOxEU button {
  border: none;
  background: hsl(4, 100%, 67%);
  background: hsl(234, 29%, 20%);
  box-shadow: none;
  border-radius: 5px;
  height: 55px;
  font-size: 0.92em;
  font-weight: bold;
  cursor: pointer;
}
.page_signupBlock__iFWRu .page_textBlock__wOxEU button:hover {
  scale: 102%;
  background: linear-gradient(90deg, rgb(248, 85, 128) 25%, rgb(255, 109, 96) 62%, rgb(255, 105, 60) 100%);
  box-shadow: 0 15px 30px rgba(248, 85, 49, 0.5);
}
